/* Font */

$fontFamily: Roboto, Arial, sans-serif;

/* Colors */

$cPrimary: #0293FF;
$cPrimaryDark: #0E75C1;
$cPrimaryLight: #49B1FF;

$cGrayLight: #dcdcdc;

$cBlack: #333333;
$cBlackLight: #6d6d6d;

$cWhite: #ffffff;